/* Stats.css */

.stats-dashboard-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #000000;
    color: #eee;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Arial', sans-serif;
}

.stats-title {
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
}

.stats-section {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #000000;
    border-radius: 8px;
}

.stats-section-title {
    text-align: center;
    font-size: 20px;
    color: #ffcc00;
    margin-bottom: 10px;
}

.stats-table {
    width: 80%;
    border-collapse: collapse;
    margin: 10px auto;
    border: 1px solid #ffffff;
    border-radius: 10px;
}



.stats-table th,
.stats-table td {
    padding: 15px 12px;
    text-align: center;
    font-weight: bold;
}

.stats-table th {
    background-color: #2e2e2e;
    padding: 15px;
    color: #ffffff;
    font-weight: bold;
}

/*.stats-table tr:nth-child(even) {*/
/*    background-color: #2a2a2a;*/
/*}*/

.stats-positive {
    color: green;
}

.stats-negative {
    color: red;
}

.stats-table td.positive {
    color: green;  /* 0보다 큰 경우 초록색 */
}

.stats-table td.negative {
    color: red;    /* 0보다 작은 경우 빨간색 */
}

/*.stats-table td:hover{*/
/*    background-color: #3d3d3d;*/
/*}*/


.stats-log-table {
    width: 80%;
    border-collapse: collapse;
    margin: 10px auto;
    border: 1px solid #ffffff;
    border-radius: 10px;
}

.stats-logs-list {
    padding: 0;
    list-style-type: none;
    color: #ccc;
    margin-left: 25px;
}

.stats-logs-list li:before {
    content: '• ';
    color: #ffcc00;
    font-weight: bold;
}

