/* Tooltip.css */
.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: #212121;
    color: #fff;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 20px 10px;
    position: absolute;
    z-index: 1;
    bottom: 100%; /* Tooltip above the text */
    left: 50%;
    margin-left: -100px;
    margin-bottom: 10px;
    opacity: 0;
    transition: opacity 0.3s;

}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}
