.combat-container {
    height: auto;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
    background-color: #000000;
    color: #e0e0e0;
}

.combat-table-container {
    display: inline-block; /* 표를 나란히 배치 */
    width: 50%; /* 표의 너비를 줄임 */
    border: 1px solid #ccc; /* 테두리 추가 */
    border-radius: 8px; /* 둥근 테두리 */
    gap: 3px;
    padding-bottom: 20px;
}

.combat-table-title {
    text-align: center; /* 제목 중앙 정렬 */
    font-size: 1.0em; /* 제목 크기 조정 */
    background-color: #2e2e2e;
    padding: 10px;
}

.combat-table {
    width: 100%; /* 표를 전체 너비로 설정 */
    border-collapse: collapse; /* 테두리 겹치기 방지 */
}

.combat-table th, .combat-table td {
    text-align: center; /* 셀 내용 중앙 정렬 */
    padding: 4px; /* 셀 내부 여백 */
}

.combat-table th {
    background-color: #f2f2f2; /* 헤더 배경 색상 */
}







.combat-log {
    padding: 20px;
}

.combat-log-container {
    width: 60%;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.log-entry {
    max-width: 100%;
    padding: 4px;
    border-radius: 5px;
}
.log-entry:hover {
    background-color: #3f3f3f;
}

.user-log {
    align-self: flex-start;
    text-align: left;
}

.enemy-log {
    align-self: flex-end;
    text-align: right;
    margin-left: auto;
}
.combat-log-timestamp{
    font-size: 0.9em;
    padding: 2px;
}

.victory-message {
    white-space: pre-line;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
}

.health-status {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 0.8em;
}

.user-health {
    padding-left: 5px;
    margin: 5px;
    color: #ffffff; /* 유저 색상 */
}

.enemy-health {
    padding-right: 5px;
    margin: 5px;
    color: #ffffff; /* 적 색상 */
}

.act-name {
    color: gold;  /* actName을 노란색으로 설정 */
}

.critical-damage {
    font-weight: bolder;
    color: #a7a7ff;
}